version: '3.8'

services:
  web:
    build: .
    container_name: breaker-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - Z:\project_breaker\raw_uploads:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - UPLOAD_DIR=/app/data

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiMjgyNjc1NzA5YjcyMThlYTZmNWI5MTU0NmJiMmRiOWIiLCJ0IjoiNzQyMWE3MjAtMDBlMC00M2MzLWFkODQtODc4YzUyNzIzYTYzIiwicyI6Ik5EazVZVEZrT1RJdE0yTmpaUzAwTURBeExUa3pNREF0TURWaVptTTNZalE1WlRrMyJ9
